html {
  font-family: sans-serif; // 1
  text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $root-font-size !important;
  font-weight: $font-weight-base;
  font-family: $font-family-sans-serif;

  // Tablet mode
  @include media-breakpoint-down(lg) {
    font-size: $root-font-size-lg !important;
  }

  // Mobile mode
  @include media-breakpoint-down(md) {
    font-size: $root-font-size-md !important;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a:hover,
  a:active,
  a:focus {
    text-decoration: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: $body-color;
}

// Angular integration
router-outlet {
  display: none;
}

canvas {
  user-select: none;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.vertical-slider {
  height: 380px;
  width: 50px;
}

.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #1976d2;
  opacity: 0.38;
}

.example-track.example-track-1 {
  background: #1976d2;
  opacity: 1;
}

.example-track.example-track-2 {
  background: #1976d2;
  opacity: 0.38;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 6px;
  width: 33px;
  height: 34px;
  line-height: 28px;
  background: #1976d2;
}

.example-thumb-0,
.example-thumb-1 {
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  background-color: #1976d2;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}
